.Navbar{
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Navbar > .Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Logo > p {
    font-size: 2rem;
    padding-left: 1rem;
}

.Logo > img {
    height: 2rem;
    width: auto;
    padding-left: 1rem;
}

.Links{
    display: flex;
    justify-content: space-around;
}

.Links > a{
    padding-right: 2rem;
    text-decoration: none;
    color: #2D2D2D;
}

.Links > a:hover{
    text-decoration: underline;
    color: #2D2D2D;
}