.Navbar{
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;
    padding-left: 2rem;
    width: 100%;
}

.Navbar > p {
    font-size: 40px;
    margin-left: 1rem;
}

.Navbar > img {
    height: 66px;
    width: auto;
}